@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-black: #1c232b;
  --color-grey: #6c7289;
  --color-cream: #f2eae2;
  --color-white: #ffffff;
  --color-green-500: #3d8168;
  --color-green-700: #1a4032;

  --font-fraunces: "Fraunces";
  --font-montserrat: "Montserrat";
}

@custom-variant hocus (&:hover, &:focus);
